.header {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 396px;
  margin: 0 auto;
  background: url(../../images/header-bg.png) no-repeat scroll center/cover;
}

.header-logo {
  position: absolute;
  left: 60px;
  top: 20px;
  width: 151px;
  height: 24px;
}

.header-add-new {
  position: absolute;
  top: 20px;
  right: 56px;
  padding: 11px 18px;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-text-title);
  text-transform: uppercase;
  border: 0;
  background: rgb(96, 96, 96, 0.68);
}

.header-search {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 150px 10vw 0;
  border: 0;

  @include breakpoint($media-1200) {
    padding: 150px 120px 0;
  }
}

.header-search h3 {
  width: 100%;
  margin: 0 0 38px;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
}

.header-search__input {
  flex-grow: 3;
  padding: 16px;
  border: 0;
  color: rgb(255 255 255 / 0.3);
  mix-blend-mode: normal;
  background: rgb(50 50 50 / 0.7);
}

.header-search__button {
  flex-grow: 1;
  margin-left: 14px;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  background: var(--color-text-title);
}

.header-search__input,
.header-search__button {
  font-size: 20px;
}
